.settlementtitle{
    width: 1015px;
    margin: 20px auto;
}
.logoimg{
    margin-top: -40px;
}
.liuchenimg{
    margin-left: 220px;
}
.adressdiv{
    width: 1015px;
    margin: 20px auto;
}
.adresstitle{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.adresscss{
    margin-top: 20px;
    padding-left: 20px;
}
.adresstitle span{
    color: #c40000;
}
.input1{
    width: 400px;
    margin-left: 60px;
    border: 1.5px solid #AFAFAF;
}
.adressinput{
    width: 180px;
    margin-left: 60px;
    border: 1.5px solid #AFAFAF;
}
.ensureorderdiv{
    width: 1015px;
    margin: 20px auto 0;
}
.ensureordertitle{
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tianmaologo2{
    width: 15px;
    height: 15px;
}
.seltemrnttable{
    width: 1015px;
}
.tdtitle{
    color: #999999;
    padding-bottom: 10px;
}
.tdtitle a:hover{
    text-decoration:underline;
}
.imgoutdiv{
    border: 1px solid #E9E9E9;
    width: 53px;
    height: 53px;
    display: inline-block;
}
.smallimglogo{
    width: 50px;
    height: 50px;
}
.imgrightdiv{
    display: inline-block;
    margin-left: 10px;
    margin-top: 7px;
}
.imgrightdiv a{
    color: #666666;
    margin-top: 7px;
}
.fuzhutr td{
    height: 3px;
    background-color: #B2D1FF;
    border-right: 2px solid white;  
    margin-top: 20px;
}
.secondtr{
     border-bottom: 3px solid #B2D1FF;
}
.secondtr td{
    padding: 10px 0;
}
.totalprice{
    color: #c40000;
    font-weight: bold;
}
.feedbackdiv{
    width: 1015px;
    margin: 0  auto 40px;
    background-color: #F2F6FF;
    padding-top: 20px;
}
.pullright{
    margin-left: 500px;
    color: #999999;
}
.totalpaydiv{
    padding-right: 30px;
}
.totalpayspan{
    color: #c40000;
    font-size: 24px;
    font-weight: bold;
}
.submitdiv{
    margin-top: 50px;
}
.submitdiv button{
    width: 180px;
    height: 40px;
    color: white;
    background-color: #c40000;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-left: 830px;
}